/* color to use #651320 */

#body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  font: Helvetica, Arial, sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

#photo {
  margin: 0 auto;
  width: 100%;
}

.graphic {
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 75%
}


.title {
  text-align: center;
  font-size: 25px;
  font-style: bold;
  text-decoration: underline;
  background-color: #651320;
  color: white;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%
}

.caption {
  text-align: center;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
}

#blockquote { /*blockquote adapted from a style found online at https://css-tricks.com/ */
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #651320;
  font-size: 20px;
}
#blockquote:before {
  color: #651320;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#blockquote p {
  display: inline;
}

#footer {
  width: 100%;
  margin: 0 auto;
}
