#content {
  margin: 0 auto;
  width: 900px;
}

.body{
font-family: Georgia, sans-serif;
font-size: 13px;
}

#masthead {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  height: 100px;
  display: block;
  padding-bottom: 20px;
}

.headline {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  padding-bottom: 10px;
}

.byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

#photo{
  margin: 0 auto;
  width: 900px;
}

.image-headline {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-style: bold;
}

.image-intro {
  font-family: Helvetica, sans-serif;
  font-style: italic;
}

.blockquote {
  font-style: bold;
  border: 30px black;
  font-size: 25px;
  text-align: center;
  border: 10px solid black;
}

.read-more {
  text-align: center;
  font-style: bold;
  font-size: 28px;
}
